<md-list layout="column">
	<md-list-item class="inset" layout="column" ng-repeat="photo in photos">
		<md-card class="photos-card">
			<img class="md-card-image" ng-src="{{computePhotoSrc(photo.file_name)}}"> </img>
			<md-card-content>
				<p class="inset">Created at {{photo.date_time}} </p>
				<p class="inset">Comments:</p>
				<p class="inset" ng-if="photo.comments.length === 0">None</p>
				<md-list>
					<md-list-item class="md-2-line" ng-repeat="comment in photo.comments">
						<div class="md-list-item-text" layout="column">
							<p><b><i>{{comment.comment}}</i></b></p>
							<br>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;Commented by 
			    				<a ng-href="#/users/{{comment.user.id}}">{{comment.user.first_name + " " + comment.user.last_name}}</a>
			    				at {{comment.date_time}}
			    			</p>
			    			<br>
			    			<br>
		    			</div>
					</md-list-item>
				</md-list>
				<form>
					New Comment: <input type="text" ng-model="main.new_comment">
					<br>
					<button ng-click="comment(photo.id)">Comment</button>
				</form>
			</md-card-content>
		</md-card>
	</md-list-item>
</md-list>
